#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 42px;
}

.description {
  font-size: 20px;
  text-align: center;
}

.app {
  align-items: center;
}

.select-fields {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.select-dropdown > div {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.select-dropdown:hover > div {
  border-color: #646cff;
  box-shadow: 0 0 8px #646cffaa;
}

.photos-gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.photo-item {
  padding: 2rem;
  max-width: 500px;
  max-height: 500px;
  border-radius: 8px;
}

.submit-button-container {
  margin-top: 20px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nasa-card {
  padding: 1.5em;
}

.nasa-title {
  text-align: center;
  font-size: 42px;
}

.nasa-info {
  font-size: 18px;
  line-height: 1.5em;
  text-align: justify;
}

.nasa-logo {
  height: 10em;
  padding: 1.5em;
}

